<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اضافة منتجات</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../stylesheets/tailwindcss.css">
    <link rel="stylesheet" href="../stylesheets/FilesCssViews/IndexAdmin.css">

</head>

<body>
    <div class="flex flex-row">
        <%- include('partials/other/Side_meun_admin') %>
            <div class="flex flex-col justify-center items-center " style="width: 100%;">
                <form id="form" class="flex flex-col mx-auto my-auto " action="/admin/addItem" method="POST"
                    enctype="multipart/form-data">
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <div class="flex flex-col">
                                <label for="nameProducts">اسم المنتج</label>
                                <input type="text" name="nameProducts" id="name"
                                    class="border-2 border-gray-500 rounded-lg">
                            </div>
                            <div class="flex flex-col">
                                <label for="price">السعر</label>
                                <input type="number" name="price" id="price"
                                    class="border-2 border-gray-500 rounded-lg">
                            </div>
                            <div class="flex flex-col">
                                <label for="Quantity">الكمية</label>
                                <input type="number" name="Quantity" id="quantity"
                                    class="border-2 border-gray-500 rounded-lg">
                            </div>
                        </div>
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <label for="tag">الفئة</label>
                                <select name="tag" id="category" class="border-2 border-gray-500 rounded-lg">
                                    <option value="1">الفئة الاولى</option>
                                    <option value="2">الفئة الثانية</option>
                                    <option value="3">الفئة الثالثة</option>
                                </select>
                            </div>
                            <div class="flex flex-col">
                                <label for="Image">الصورة</label>
                                <input type="file" name="Image" id="image" class="border-2 border-gray-500 rounded-lg">
                            </div>
                        </div>
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <label for="description">الوصف</label>
                                <textarea name="description" id="description" cols="30" rows="10"
                                    class="border-2 border-gray-500 rounded-lg"></textarea>
                            </div>
                        </div>
                        <div class="flex flex-row">
                            <div class="flex flex-col">
                                <label for="status">الحالة</label>
                                <select name="status" id="status" class="border-2 border-gray-500 rounded-lg">
                                    <option value="1">متوفر</option>
                                    <option value="0">غير متوفر</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex items-center justify-center">
                            <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">ارسال
                            </button>
                        </div>
                    </div>
                </form>

                <!--List of products in the database -->
                <div>
                    <table class="table-auto bg-black" style="height: 100px; width: 100px;">
                        <thead>
                            <tr>
                                <th class="px-4 py-2">اسم المنتج</th>
                                <th class="px-4 py-2">السعر</th>
                                <th class="px-4 py-2">الكمية</th>
                                <th class="px-4 py-2">الفئة</th>
                                <th class="px-4 py-2">الوصف</th>
                                <th class="px-4 py-2">الحالة</th>
                                <th class="px-4 py-2">تعديل</th>
                                <th class="px-4 py-2">حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<products.length; i++) { %>
                                <tr>    
                                    <td class="border px-4 py-2"><%= products[i].nameProducts %></td>
                                    <td class="border px-4 py-2"><%= products[i].price %></td>
                                    <td class="border px-4 py-2"><%= products[i].Quantity %></td>
                                    <td class="border px-4 py-2"><%= products[i].tag %></td>
                                    <td class="border px-4 py-2"><%= products[i].description %></td>
                                    <td class="border px-4 py-2"><%= products[i].status %></td>
                                    <td class="border px-4 py-2"><a href="/admin/editItem/<%= products[i].idProducts%>">تعديل</a></td>
                                    <td class="border px-4 py-2">
                                        <form action="/admin/deleteItem/<%= products[i]._id %>?_method=DELETE" method="POST">
                                          <input type="hidden" name="_method" value="DELETE">
                                          <button type="submit">حذف</button>
                                        </form>
                                      </td>                         
                                    </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

    </div>
</body>

<script>

</script>

</html>